
  <h1><%= @orders.id %></h1>

  <h1><%= @customers.name %></h1>
  <h1><%= @products.prod_name%></h1>
  <h1><%= @products.description%></h1>
  <h1><%= @products.price %></h1>
  <h1><%= @orders.comment%></h1>

  <p><%= link_to "Back to Stuff list", root_path %></p>
