<h1><% @customers.id %></h1>

  <h1><%= @customers.name %></h1>
  <h1><%= @customers.address%></h1>
  <h1><%= @customers.city%></h1>
  <h1><%= @customers.state %></h1>
  <h1><%= @customers.zipcode%></h1>
  <h1><%= @customers.phone%></h1>
