<p>
  <b>Product:</b>
  <%= @products.prod_name %>
</p>

<p>
  <b>Description:</b>
  <%= @products.description %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@products.price, :unit => "$") %>
</p>




 <%= link_to "Buy #{@products.prod_name} Now!", orders_path %>




<p><%= link_to "Back to Stuff list", root_path %></p>
